################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AuditLog.Application/obj
/AuditLog.Application/bin/Debug/netcoreapp3.1
/AuditLog.EF/bin/Debug/netcoreapp3.1
/AuditLog.EF/obj
